---
import { getCollection, render } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import Tags from "@/components/Tags.astro";
import TagLink from "@/components/TagLink.astro";

import h2 from "@/components/h2.astro";
import h3 from "@/components/h3.astro";
import h4 from "@/components/h4.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const components = {
	h2,
	h3,
	h4,
};
---

<BlogLayout
	title={post.data.title as string}
	backgroundText={post.data.title as string}
>
	<div slot="hero" class="pt-10 pb-8 sm:text-center text-white">
		<h1 class="text-4xl sm:text-6xl font-bold font-display leading-tight">
			{post.data.title}
		</h1>
		{
			post.data?.pubDate && (
				<div class="mt-6 text-sm text-gray-300">
					Published on {post.data.pubDate.toDateString()}
				</div>
			)
		}
		{
			post.data?.tags && (
				<Tags class="mt-4 -ml-3 sm:ml-0">
					{post.data.tags.map((tag) => (
						<TagLink href={`/tags/${tag.toLowerCase()}`} text={tag} />
					))}
				</Tags>
			)
		}
	</div>

	<div>
		{
			post.data.description && (
				<p class="mb-8 text-lg italic text-gray-700 dark:text-gray-300">
					{post.data.description}
				</p>
			)
		}
		<article
			class="prose prose-base [&>section]:mb-12 prose-headings:font-display prose-headings:font-semibold dark:prose-blockquote:border-base-500 prose-blockquote:font-normal prose-blockquote:tracking-normal prose-img:border prose-img:border-base-200 dark:prose-img:border-base-700 dark:prose-code:text-white prose-a:text-accent-400 hover:prose-a:text-accent-500 dark:prose-hr:border-base-800 prose-hr:border-base-300 prose-pre:border-none prose-pre:rounded-none prose-strong:font-medium prose-a:duration-200 dark:prose-strong:text-gray-300 dark:prose-p:text-gray-300 dark:prose-ul:text-gray-300 dark:prose-headings:text-gray-200"
		>
			<Content components={components} />
		</article>
	</div>
</BlogLayout>
