---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import h2 from "../../components/h2.astro";
import h3 from "../../components/h3.astro";
import h4 from "../../components/h4.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const components = {
	h2,
	h3,
	h4,
};
---

<!-- https://medium.com/@rezahedi/how-to-build-table-of-contents-in-astro-and-sectionize-the-markdown-content-78bee84e6a7f -->
<BaseLayout title={post.data.title}>
	<div class="px-4 py-8">
		<div class="text-center">
			<h1
				class="text-5xl text-center font-bold text-gray-800 dark:text-gray-100 mb-4 font-display"
			>
				{post.data.title}
			</h1>

			{
				post.data?.pubDate && (
					<p class="text-gray-500 dark:text-gray-300 text-sm mb-8">
						{post.data.pubDate.toDateString()}
					</p>
				)
			}
		</div>

		<article
			class="prose prose-base [&>section]:mb-12 prose-headings:font-display prose-headings:font-semibold dark:prose-blockquote:border-base-500 prose-blockquote:font-normal prose-blockquote:tracking-normal prose-img:border prose-img:border-base-200 dark:prose-img:border-base-700 dark:prose-code:text-white prose-a:text-accent-400 hover:prose-a:text-accent-500 dark:prose-hr:border-base-800 prose-hr:border-base-300 prose-pre:border-none prose-pre:rounded-none prose-strong:font-medium prose-a:duration-200 dark:prose-strong:text-gray-300 dark:prose-p:text-gray-300 dark:prose-ul:text-gray-300 dark:prose-headings:text-gray-200"
		>
			<p class="mb-8">
				{post.data.description}
			</p>

			<Content components={components} />
		</article>
	</div>
</BaseLayout>
